/* Developed with folder.view version 2023.09.15 - 
Autostart Icon styles require version 2023.09.22-1 or greater
https://github.com/scolcipitato/folder.view */

/*************************************************/
/* VARIABLES - Change these settings to your preference */
/*************************************************/
/* See https://fontawesome.com/icons for icons.
Find an icon you'd like to use, click on it and copy
the unicode fromt he top right corner. Example: f144
Paste this within the " " below to change the icon.
Be sure to leave the \ at the beginning of the code
as shown below.
For colors - look up a hex color convertor online
like https://htmlcolorcodes.com/color-picker/ */
/*************************************************/
:root {
  /* EXPANDED FOLDER HEADER AND "DRAWER" */
  --exfold-header-bg-c: rgba(255, 255, 255, 0.1);
  --exfold-drawer-border-c: rgba(255, 255, 255, 0.1);

  /* ICONS */
  --folder-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --folder-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --folder-autostart-full-icon: "\f144"; /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon: "\f144"; /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon: "\f144"; /* Indicates NO autostart containers within the folder are started */

  --container-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --container-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon: "\f144"; /* Indicates autostart container is started */
  --container-autostart-stopped-icon: "\f28d"; /* Indicates autostart container is stopped */
  --container-spin-started-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from stopped to started */

  /* ICON COLORS */
  --folder-started-icon-c: #4caf50; /* Normal started icon - default is green */
  --folder-stopped-icon-c: #f0000c; /* Normal stopped icon - default is red */
  --folder-autostart-full-icon-c: #4caf50; /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon-c: #e68a00; /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon-c: #f0000c; /* Indicates NO autostart containers within the folder are started */

  --container-spin-started-icon-c: #e68a00; /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon-c: #d6ff20; /* Spin icon temporarily shown when a container is changing from stopped to started */
  --container-started-icon-c: #4caf50; /* Normal started icon - default is play triangle */
  --container-stopped-icon-c: #f0000c; /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon-c: #4caf50; /* Indicates autostart container is started */
  --container-autostart-stopped-icon-c: #f0000c; /* Indicates autostart container is stopped */

  /* ICON SIZES */
  --folder-status-size: 16px; /* Compacted folder started/stopped icon */
  --exfold-status-size: 20px; /* Expanded folder started/stopped icon */
  --container-status-size: 15px; /* Normal container started/stopped icon */
  --container-autostart-status-size: 16px; /* Autostart container started/stopped icon */
}
/*************************************************/
/* END OF VARIABLES */
/*************************************************/

/* Apply border-box to all elements inside the docker and vm panes */
#docker_view *,
#vm_view * {
  box-sizing: border-box;
}

/* Add a padding left to the entire docker and vm icon area
- this compensates for the expanded folder header */
#docker_view tr:nth-child(2) td,
#vm_view tr:nth-child(2) td {
  padding-left: 20px;
}

/* Expand the clickable area of folders and containers
to the full width of the wrapper */
#docker_view .hand {
  position: absolute;
  z-index: 50;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

/* Set a height on the name/text area of
the folders and containers to the same height of the icon */
#docker_view .inner {
  display: inline-block;
  height: 32px;
  margin-left: 38px;
}

/* Compressed folder wrapper and docker container wrapper styles */
#docker_view .outer {
  position: relative; /* Needed for absolute positioning of child elements */
  display: inline-block;
}

/* Expanded folder outer wrapper styles */
#docker_view .folder-showcase-outer[expanded="true"] {
  float: left;
  display: block;
  margin-bottom: 20px;
  margin-left: -10px; /* Overcome 20px container padding-left by giving
                      expanded folder a negative left margin */
  width: calc(
    100% + 10px
  ); /* Add 10px to the width to overcome negative margin */
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--exfold-drawer-border-c);
}

/* Child docker container icons wrapper "drawer" styles */
#docker_view .folder-showcase-outer[expanded="true"] .folder-showcase {
  float: left;
  display: block;
  padding: 0 20px;
}

/* Hide the "started" and "stopped" text so that only
the green arrow or red square shows on containers */
#docker_view .outer:not(.folder-docker) .state {
  opacity: 0;
}

/*************************************************/
/* EXPANDED FOLDER HEADER STYLES */
/*************************************************/
/* Add padding to the clickable area - builds on compressed styles */
#docker_view .folder-showcase-outer[expanded="true"] .hand.folder-hand-docker {
  padding: 8px;
}

/* Expanded folder wrapper/header styles */
#docker_view .folder-showcase-outer[expanded="true"] .outer.folder-docker {
  display: block;
  float: none;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0); /* transparent border for size */
  background: var(--exfold-header-bg-c);
  border-radius: 10px;
}

/* Increase the size of the icon */
#docker_view .folder-showcase-outer[expanded="true"] img.folder-img-docker {
  width: 48px;
  height: 48px;
  filter: saturate(1); /* Override saturate-on-hover effects */
}

/* Set a height on the folder-name/text area to the same
height of the icon - builds on compressed styles */
#docker_view
  .folder-showcase-outer[expanded="true"]
  .inner.folder-inner-docker {
  height: 48px;
  margin-left: 55px;
}

/* Increase the font size for the folder name */
#docker_view .folder-showcase-outer[expanded="true"] .folder-appname-docker {
  font-size: 2rem;
}

/* Down arrow icon */
#docker_view .folder-showcase-outer[expanded="true"] .folder-docker::after {
  position: absolute;
  content: "\f0d7";
  display: block;
  font-family: FontAwesome;
  font-size: 3rem;
  right: 1rem;
  bottom: 0;
}
/*************************************************/

/*************************************************/
/* ICON SIZES */
/*************************************************/
/* Folder Status */
#docker_view .outer.folder-docker i::before {
  font-size: var(--folder-status-size);
}
/* Expanded Folder Status */
#docker_view
  .folder-showcase-outer[expanded="true"]
  .outer.folder-docker
  i::before {
  font-size: var(--exfold-status-size);
}
/* Container Status */
#docker_view .outer.folder-element-docker i::before {
  font-size: var(--container-status-size);
}
/* Container Autostart Status */
#docker_view .outer.folder-element-docker.autostart i::before {
  font-size: var(--container-atostart-status-size);
}

/*************************************************/
/* DEFAULT STARTED/STOPPED ICONS */
/*************************************************/
/* Started Icon */
#docker_view
  .outer:not(
    .autostart,
    .autostart-full,
    .autostart-partial,
    .autostart-off
  ).started
  i:not(.fa-spin)::before {
  content: var(--container-started-icon);
  color: var(--container-started-icon-c);
}
/* Stopped Icon */
#docker_view
  .outer:not(
    .autostart,
    .autostart-full,
    .autostart-partial,
    .autostart-off
  ).stopped
  i:not(.fa-spin)::before {
  content: var(--container-stopped-icon);
  color: var(--container-stopped-icon-c);
}
/* Spin Icon - Started */
#docker_view .outer i.started.fa-spin::before {
  content: var(--container-spin-started-icon);
  color: var(--container-spin-started-icon-c);
}
/* Spin Icon - Stopped */
#docker_view .outer i.stopped.fa-spin::before {
  content: var(--container-spin-stopped-icon);
  color: var(--container-spin-stopped-icon-c);
}

/*************************************************/
/* AUTOSTART ICONS */
/*************************************************/
/* Container Icons */
#docker_view
  .outer:not(.folder-docker).autostart.started
  i:not(.fa-spin)::before {
  content: var(
    --container-autostart-started-icon
  ); /* Replace the green triangle with a different icon */
  color: var(--container-autostart-started-icon-c);
}
#docker_view
  .outer:not(.folder-docker).autostart.stopped
  i:not(.fa-spin)::before {
  content: var(
    --container-autostart-stopped-icon
  ); /* Replace the red square with a different icon */
  color: var(--container-autostart-stopped-icon-c);
}

/* Folder Icons */
/* Add a triangle icon beside the standard Started/Stopped icon 
Uncomment these rules and comment the icon replace rules below
To add an autostart status icon instead of replacing the default icon*/
/* #docker_view .folder-showcase-outer:not(.no-autostart) .state::before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.3rem;
  margin-right: 4px;
} */
/* Green color when all autostart containers are started */
/* #docker_view .autostart-full .state::before {
  content: var(--folder-autostart-full-icon);
  color: var(
    --folder-autostart-full-icon-c
  );
} */
/* Orange when some autostart containers are started */
/* #docker_view .autostart-partial .state::before {
  content: var(--folder-autostart-partial-icon);
  color: var(
    --folder-autostart-partial-icon-c
  ); 
} */
/* Red when no autostart containers are started */
/* #docker_view .autostart-off .state::before {
  content: var(--folder-autostart-off-icon);
  color: var(
    --folder-autostart-off-icon-c
  ); 
} */

/* Replace the default container status icon with an icon
denoting presence of autostart containers */
#docker_view .outer.folder-docker.autostart-full i::before {
  content: var(--folder-autostart-full-icon);
  color: var(
    --folder-autostart-full-icon-c
  ); /* Green color when all autostart containers are started */
}
#docker_view .outer.folder-docker.autostart-partial i::before {
  content: var(--folder-autostart-partial-icon);
  color: var(
    --folder-autostart-partial-icon-c
  ); /* Orange when some autostart containers are started */
}
#docker_view .outer.folder-docker.autostart-off i::before {
  content: var(--folder-autostart-off-icon);
  color: var(
    --folder-autostart-off-icon-c
  ); /* Red when no autostart containers are started */
}

/*************************************************/
/* LOGO ICON HOVER EFFECTS */
/*************************************************/
/* Desaturate docker/vm container and folder icons, saturate on hover */
#docker_view .outer img {
  filter: saturate(0);
}
#docker_view .outer:hover img {
  filter: saturate(1);
}
