/* Developed with folder.view version 2023.09.15 - 
Autostart Icon styles require version 2023.09.22.1 or greater
https://github.com/scolcipitato/folder.view */

/*************************************************/
/* VARIABLES - Change these settings to your preference */
/*************************************************/
/* See https://fontawesome.com/icons for icons.
Find an icon you'd like to use, click on it and copy
the unicode from the top right corner. Example: f144
Paste this within the " " below to change the icon.
Be sure to leave the \ at the beginning of the code
as shown below.
For colors - look up a hex color convertor online
like https://htmlcolorcodes.com/color-picker/ */
/*************************************************/
:root {
  /* COLOR SCHEME - BASED ON UNRAID STOCK BLACK THEME */
  /* Change these colors to your preferences */
  --docker-accent1: #ff8c2f;
  --docker-accent2: #3e6dba;
  --docker-accent3: #4f8a10;
  --docker-light1: #f2f2f2;
  --docker-light2: #787878;
  --docker-light3: #444444;
  --docker-light4: #303030;
  --docker-dark1: #262626;
  --docker-dark2: #212121;
  --docker-dark3: #1c1b1b;
  --docker-dark4: #191818;
  --docker-interface-alert: #f0000c;
  --docker-interface-warn: #ff8c2f;
  --docker-interface-attention: #d6ff20;
  --docker-interface-good: #4caf50;

  /* ICONS - See https://fontawesome.com/icons */
  --folder-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --folder-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --folder-autostart-full-icon: "\f144"; /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon: "\f144"; /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon: "\f144"; /* Indicates NO autostart containers within the folder are started */
  --folder-spin-started-icon: "\f110"; /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */
  --folder-spin-stopped-icon: "\f110"; /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */

  --container-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --container-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon: "\f144"; /* Indicates autostart container is started */
  --container-autostart-stopped-icon: "\f28d"; /* Indicates autostart container is stopped */
  --container-spin-started-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from stopped to started */

  --container-webui-icon: "\f57d";
  --container-terminal-icon: "\f120";
  --container-logs-icon: "\f0c9";

  /* ICON COLORS */
  --folder-started-icon-c: var(--docker-interface-good); /* Normal started icon - default is green */
  --folder-stopped-icon-c: var(--docker-interface-alert); /* Normal stopped icon - default is red */
  --folder-autostart-full-icon-c: var(--docker-interface-good); /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon-c: var(--docker-interface-warn); /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon-c: var(--docker-interface-alert); /* Indicates NO autostart containers within the folder are started */
  --folder-spin-started-icon-c: var(--docker-interface-warn); /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */
  --folder-spin-stopped-icon-c: var(--docker-interface-attention); /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */

  --container-spin-started-icon-c: var(--docker-interface-warn); /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon-c: var(--docker-interface-attention); /* Spin icon temporarily shown when a container is changing from stopped to started */
  --container-started-icon-c: var(--docker-interface-good); /* Normal started icon - default is play triangle */
  --container-stopped-icon-c: var(--docker-interface-alert); /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon-c: var(--docker-interface-good); /* Indicates autostart container is started */
  --container-autostart-stopped-icon-c: var(--docker-interface-alert); /* Indicates autostart container is stopped */

  /* ICON SIZES */
  --folder-status-size: 16px; /* Compacted folder started/stopped icon */
  --container-status-size: 15px; /* Normal container started/stopped icon */
  --container-autostart-status-size: 16px; /* Autostart container started/stopped icon */
  --container-tools-size: 14px;
}
/*************************************************/
/* END OF VARIABLES */
/*************************************************/

/*************************************************/
/* ICON SIZES */
/*************************************************/
/* Folder Status */
.outer.folder-outer i.folder-load-status::before {
  font-size: var(--folder-status-size);
}
/* Container Status */
.outer:not(.folder-outer) i[id*="folder-load"]::before {
  font-size: var(--container-status-size);
}
/* Container Autostart Status */
.outer:not(.folder-outer).autostart i[id*="folder-load"]::before {
  font-size: var(--container-autostart-status-size);
}
/* Container Tools */
.outer:not(.folder-outer) .folder-element-custom-btn i::before {
  font-size: var(--container-tools-size);
}

/*************************************************/
/* DEFAULT STARTED/STOPPED ICONS */
/*************************************************/
/* Folder Started Icon */
.folder:not(.autostart-full, .autostart-partial, .autostart-off) .outer.folder-outer i.started:not(.fa-spin)::before {
  content: var(--folder-started-icon);
  color: var(--folder-started-icon-c);
}
/* Folder Stopped Icon */
.folder:not(.autostart-full, .autostart-partial, .autostart-off) .outer.folder-outer i.stopped:not(.fa-spin)::before {
  content: var(--folder-stopped-icon);
  color: var(--folder-stopped-icon-c);
}
/* Folder Spin Icon - Started */
.folder .outer.folder-outer i.started.fa-spin::before {
  content: var(--folder-spin-started-icon);
  color: var(--folder-spin-started-icon-c);
}
/* Folder Spin Icon - Stopped */
.folder .outer.folder-outer i.stopped.fa-spin::before {
  content: var(--folder-spin-stopped-icon);
  color: var(--folder-spin-stopped-icon-c);
}

/* Container Started Icon */
.outer:not(.folder-outer, .autostart) i.started:not(.fa-spin)::before {
  content: var(--container-started-icon);
  color: var(--container-started-icon-c);
}
/* Container Stopped Icon */
.outer:not(.folder-outer, .autostart) i.stopped:not(.fa-spin)::before {
  content: var(--container-stopped-icon);
  color: var(--container-stopped-icon-c);
}
/* Container Spin Icon - Started */
.outer:not(.folder-outer) i.started.fa-spin::before {
  content: var(--container-spin-started-icon);
  color: var(--container-spin-started-icon-c);
}
/* Container Spin Icon - Stopped */
.outer:not(.folder-outer) i.stopped.fa-spin::before {
  content: var(--container-spin-stopped-icon);
  color: var(--container-spin-stopped-icon-c);
}

/*************************************************/
/* AUTOSTART ICONS */
/*************************************************/
/* Container Icons */
.outer:not(.folder-outer).autostart i.started:not(.fa-spin)::before {
  content: var(--container-autostart-started-icon); /* Replace the green triangle with a different icon */
  color: var(--container-autostart-started-icon-c);
}
.outer:not(.folder-outer).autostart i.stopped:not(.fa-spin)::before {
  content: var(--container-autostart-stopped-icon); /* Replace the red square with a different icon */
  color: var(--container-autostart-stopped-icon-c);
}

/* Folder Icons */
/* Replace the folder's default ontainer status icon with an icon
denoting presence of autostart containers */
.folder.autostart-full .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-full-icon);
  color: var(--folder-autostart-full-icon-c); /* Green color when all autostart containers are started */
}
.folder.autostart-partial .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-partial-icon);
  color: var(--folder-autostart-partial-icon-c); /* Orange when some autostart containers are started */
}
.folder.autostart-off .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-off-icon);
  color: var(--folder-autostart-off-icon-c); /* Red when no autostart containers are started */
}

/*************************************************/
/* CONTAINER LOGO ICON HOVER EFFECTS */
/*************************************************/
/* Desaturate docker container icons, saturate on hover */
.folder-preview-wrapper img {
  filter: saturate(0);
}
.folder-preview-wrapper:hover img {
  filter: saturate(1);
}

/*************************************************/
/* ADVANCED CONTEXT TOOLTIP DARK MODE */
/*************************************************/
/* VARIABLES */
:root {
  /* Color Scheme - Edit to your preferences */
  --advc-cscheme-accent1: #ff8c2f; /* Main accent color */
  --advc-cscheme-accent2: #2cabe3; /* Secondary accent color */
  --advc-cscheme-light1: #ffffff; /* Light */
  --advc-cscheme-light2: #cccccc; /* Lighter */
  --advc-cscheme-light3: #a1a1a1; /* Lightest */
  --advc-cscheme-dark1: #212121; /* Dark */
  --advc-cscheme-dark2: #1c1b1b; /* Darker */
  --advc-cscheme-dark3: #191818; /* Darkerer */
  --advc-cscheme-dark4: #000000; /* Darkest */

  /* Outer box for the context window */
  --advc-tooltip-brdr-c: var(--advc-cscheme-dark3);
  --advc-tooltip-brdr-accent-c: var(--advc-cscheme-accent1);
  --advc-tooltip-text-c: var(--advc-cscheme-light3);
  --advc-tooltip-bg-c: var(--advc-cscheme-dark1);

  /* Top row with container name and CPU usage */
  --advc-headrow-bg-c: var(--advc-cscheme-dark2);
  --advc-headrow-brdr-c: var(--advc-cscheme-dark3);

  /* Top container name and stats areas */
  --advc-contname-area-brdr-rt-c: var(--advc-cscheme-dark4);
  --advc-contstat-area-bg-c: var(--advc-cscheme-dark3);
  --advc-contstat-hdr-bg-c: var(--advc-cscheme-dark1);
  --advc-contstat-cpumeter-bg-c: var(--advc-cscheme-light2);
  --advc-contstat-cpumeter-text-c: var(--advc-cscheme-accent1);
  --advc-contstat-cpumeter-meter-c: var(--advc-cscheme-accent1);

  /* Action buttons down the left side */
  --advc-contbtns-brdr-rt-c: var(--advc-cscheme-dark4);
  --advc-contbtns-bg-img: linear-gradient(to bottom, var(--advc-cscheme-dark2), var(--advc-cscheme-dark3));
  --advc-contbtns-text-c: var(--advc-cscheme-light2);

  /* Container ID and Repo Box */
  --advc-continfo-bg-c: var(--advc-cscheme-dark2);
  --advc-continfo-brdr-c: var(--advc-cscheme-dark3);
  --advc-continfo-text-c: var(--advc-cscheme-light2);

  /* Tabs along the top of the CPU/Mem Graph, Port Mappings, and Vol Mappings */
  --advc-grapharea-tabs-deftext-c: var(--advc-cscheme-light2);
  --advc-grapharea-tabs-deftexthover-c: var(--advc-cscheme-light2);
  --advc-grapharea-tabs-activetext-c: var(--advc-cscheme-light1);
  --advc-grapharea-tabs-activetexthover-c: var(--advc-cscheme-light1);
  --advc-grapharea-tabs-default-bg-c: var(--advc-cscheme-dark2);
  --advc-grapharea-tabs-active-bg-c: var(--advc-cscheme-accent1);
  --advc-grapharea-tabs-defhover-bg-c: var(--advc-cscheme-dark1);
  --advc-grapharea-tabs-acthover-bg-c: var(--advc-cscheme-accent1);
  --advc-grapharea-tabs-default-brdr-c: var(--advc-cscheme-dark2);
  --advc-grapharea-tabs-active-brdr-c: var(--advc-cscheme-dark2);
  --advc-grapharea-tabs-defhover-brdr-c: var(--advc-cscheme-accent1);
  --advc-grapharea-tabs-acthover-brdr-c: var(--advc-cscheme-dark2);

  /* Top border for the Streaming CPU/Mem Graph Area */
  --advc-grapharea-brdr-top-c: var(--advc-cscheme-accent1);
  --advc-grapharea-brdr-c: var(--advc-cscheme-dark3);

  /* Streaming CPU/Mem Graph Lines */
  --folder-view-graph-cpu: var(--advc-cscheme-accent1);
  --folder-view-graph-mem: var(--advc-cscheme-accent2);
}
/* END OF VARIABLES */

/* Outer box of the context window */
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box,
.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  border: 2px solid var(--advc-tooltip-brdr-c) !important;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 3px var(--advc-cscheme-dark2);
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  border-top: 3px solid var(--advc-tooltip-brdr-accent-c) !important;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  border-bottom: 3px solid var(--advc-tooltip-brdr-accent-c) !important;
}

/* Inner box and main body of the context window */
.preview-outbox {
  padding: 8px;
  color: var(--advc-tooltip-text-c);
  background-color: var(--advc-tooltip-bg-c);
}

/* Top row with container name and CPU usage */
.preview-outbox .first-row {
  background-color: var(--advc-headrow-bg-c);
  border-color: var(--advc-headrow-brdr-c);
  margin-bottom: 4px;
}

/* Container name box */
.preview-outbox .preview-name {
  border-right: 1px solid var(--advc-contname-area-brdr-rt-c);
}

/* Container name */
.preview-outbox .appname {
  font-size: 2rem;
  font-weight: bold;
}

/* CPU/Memory Usage box */
.preview-outbox .preview-status {
  background-color: var(--advc-contstat-area-bg-c);
  padding: 4px 8px;
  margin: 0;
}

/* CPU/Mem header box */
.preview-outbox .status-header-version,
.preview-outbox .status-header-stats,
.preview-outbox .status-header-autostart {
  background-color: var(--advc-contstat-area-hdr-bg-c);
}

/* CPU usage meter */
.preview-outbox .usage-disk.mm {
  height: 6px;
  background: var(--advc-contstat-cpumeter-bg-c);
  color: var(--advc-contstat-cpumeter-text-c);
}
.preview-outbox .usage-disk.mm > span:first-child {
  background-color: var(--advc-contstat-cpumeter-meter-c);
  height: 6px;
}

.preview-outbox .action-info {
  padding-right: 5px;
}

/* Container control buttons column left */
.preview-outbox .action-left {
  border-right: 1px solid var(--advc-contbtns-brdr-rt-c);
  padding-right: 5px;
}
/* Container control buttons column right */
.preview-outbox .action-right {
  padding-left: 5px;
}

/* Container control and project page buttons */
.preview-outbox .action li a,
.preview-outbox .action li a:link,
.preview-outbox .action li a:visited {
  color: var(--advc-contbtns-text-c);
}
.preview-outbox .action li a:hover {
  background-image: var(--advc-contbtns-bg-img);
}

/* Container ID and repo info box */
.preview-outbox .info-ct {
  color: var(--advc-continfo-text-c);
  background-color: var(--advc-continfo-bg-c);
  border-color: var(--advc-continfo-brdr-c);
}

/* Tabs/buttons at top of graph area */
.preview-outbox .ui-state-default {
  background: var(--advc-grapharea-tabs-default-bg-c);
  border-color: var(--advc-grapharea-tabs-default-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-hover {
  background: var(--advc-grapharea-tabs-defhover-bg-c);
  border-color: var(--advc-grapharea-tabs-defhover-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-active {
  background: var(--advc-grapharea-tabs-active-bg-c);
  border-color: var(--advc-grapharea-tabs-active-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-active.ui-state-hover {
  background: var(--advc-grapharea-tabs-acthover-bg-c);
  border-color: var(--advc-grapharea-tabs-acthover-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default a,
.preview-outbox .ui-state-default a:link,
.preview-outbox .ui-state-default a:visited {
  color: var(--advc-grapharea-tabs-deftext-c);
}
.preview-outbox .ui-state-default-ui-state-hover a,
.preview-outbox .ui-state-default-ui-state-hover a:link,
.preview-outbox .ui-state-default-ui-state-hover a:visited {
  color: var(--advc-grapharea-tabs-deftexthover-c);
}
.preview-outbox .ui-state-default.ui-state-active a,
.preview-outbox .ui-state-default.ui-state-active a:link,
.preview-outbox .ui-state-default.ui-state-active a:visited {
  color: var(--advc-grapharea-tabs-activetext-c);
  font-weight: bold;
}
.preview-outbox .ui-state-default.ui-state-active.ui-state-hover a,
.preview-outbox .second-row .ui-state-default.ui-state-active.ui-state-hover a:link,
.preview-outbox .second-row .ui-state-default.ui-state-active.ui-state-hover a:visited {
  color: var(--advc-grapharea-tabs-activetexthover-c);
  font-weight: bold;
  cursor: default;
}
/* End of: Tabs/buttons at top of graph area */

/* Graph area */
.preview-outbox div[id*="comb-grapth-"] canvas {
  padding: 2px;
  border: 1px solid var(--advc-grapharea-brdr-c);
  border-top: 2px solid var(--advc-grapharea-brdr-top-c);
}

/* Port Mappings and Volume Mappings areas */
.preview-outbox .info-ports,
.preview-outbox .info-volumes {
  padding-top: 8px;
  color: var(--text-hover) !important;
  border-top: 2px solid var(--advc-grapharea-brdr-top-c) !important;
  font-size: 1.5rem;
}
