/* Developed with folder.view version 2023.09.15 - 
Autostart Icon styles require version 2023.09.22.1 or greater
https://github.com/scolcipitato/folder.view */

/*************************************************/ /*
INSTRUCTIONS:
This file is separated into sections. Remove the parts you don't want to utilize.
 1 VARIABLES - USED BY 'DOCKER TABLE' & 'STARTED/STOPPED ICONS' SECTIONS *KEEP*
 2 DOCKER TABLE STYLES -  Styles the docker table itself
 3 STARTED/STOPPED ICONS -  Deals specifically with the Started/Stopped icons in the table
                            -Can be used independently from docker table styles
 4 ADVANCED CONTEXT TOOLTIP DARK MODE - Dark mode scheme for the advanced context menu
*/ /*************************************************/

/*************************************************/
/* VARIABLES - Change these settings to your preference */
/*************************************************/
/* See https://fontawesome.com/icons for icons.
Find an icon you'd like to use, click on it and copy
the unicode from the top right corner. Example: f144
Paste this within the " " below to change the icon.
Be sure to leave the \ at the beginning of the code
as shown below.
For colors - look up a hex color convertor online
like https://htmlcolorcodes.com/color-picker/ */
/*************************************************/
:root {
  /* COLOR SCHEME - BASED ON UNRAID STOCK BLACK THEME */
  /* Change these colors to your preferences */
  --cscheme-accent1: #ff8c2f;
  --cscheme-accent2: #3e6dba;
  --cscheme-accent3: #4f8a10;
  --cscheme-link: #486dba;
  --cscheme-linkhov: #2cabe3;
  --cscheme-tool-link: #616161;
  --cscheme-tool-linkhov: #2cabe3;
  --cscheme-cont-update: #ff8c2f;
  --cscheme-cont-updatehov: #ffc04c;
  --cscheme-foreline1: #f2f2f2;
  --cscheme-foreline2: #a1a1a1;
  --cscheme-foreline3: #787878;
  --cscheme-foreline4: #444444;
  --cscheme-backfill1: #262626;
  --cscheme-backfill2: #212121;
  --cscheme-backfill3: #1c1b1b;
  --cscheme-backfill4: #191818;
  --cscheme-interface-alert: #f0000c;
  --cscheme-interface-warn: #ff8c2f;
  --cscheme-interface-attention: #d6ff20;
  --cscheme-interface-good: #4caf50;
  --cscheme-interface-accent: #2cabe3;

  /* COLOR SCHEME - BASED ON UNRAID STOCK WHITE THEME */
  /* --cscheme-accent1: #ff8c2f;
  --cscheme-accent2: #3e6dba;
  --cscheme-accent3: #4f8a10;
  --cscheme-link: #486dba;
  --cscheme-linkhov: #2cabe3;
  --cscheme-foreline1: #1c1b1b;
  --cscheme-foreline2: #4e4e4e;
  --cscheme-foreline3: #a8a8a8;
  --cscheme-foreline4: #dcdcdc;
  --cscheme-backfill1: #e8e8e8;
  --cscheme-backfill2: #f2f2f2;
  --cscheme-backfill3: #f5f5f5;
  --cscheme-backfill4: #ffffff;
  --cscheme-interface-alert: #f0000c;
  --cscheme-interface-warn: #ff8c2f;
  --cscheme-interface-attention: #d6ff20;
  --cscheme-interface-good: #4caf50; */

  /* Passed/Warning/Green/Orange Text */
  --warn-orange-text-c: var(--cscheme-interface-warn);
  --pass-green-text-c: var(--cscheme-interface-good);
  --accent-blue-text-c: var(--cscheme-interface-accent);

  /* Folder Name/Logo Area */
  --folderbox-width: 250px; /* May need to be increased if --folder-name-text-size is too big */
  --folderbox-height: calc(var(--folder-logo-size) + (var(--folderbox-padding-topbottom) * 2) + (var(--folderbox-brdr-width-topbottom) * 2));
  --folderbox-padding-topbottom: 10px;
  --folderbox-padding-leftright: 10px;
  --folderbox-brdr-c: var(--cscheme-foreline3);
  --folderbox-brdr-width-topbottom: 1px;
  --folderbox-brdr-width-left: 8px;
  --folderbox-brdr-width-right: 3px;

  --folder-logo-size: 40px;
  --folder-logo-mrgright: 8px;
  --folder-name-text-size: 1.5rem;
  --folder-name-text-weight: bold;
  --folder-startstop-text-size: 1.2rem; /* 0 to hide */
  --folder-startstop-text-mrgleft: 7px; /* 0 to hide */

  /* Folder/Container Preview Row */
  --folderpreview-height: calc(var(--container-logo-size) + (var(--container-logo-mrgtopbottom) * 2) + (var(--folderpreview-brdr-width-topbottom) * 2));
  --folderpreview-brdr-c: var(--cscheme-foreline3);
  --folderpreview-brdr-width-topbottom: 1px;
  --folderpreview-brdr-width-left: 8px;
  --folderpreview-brdr-width-right: 1px;

  /* Container */
  --container-logo-size: 38px;
  --container-logo-mrgtopbottom: 10px;
  --container-logo-mrgleft: 10px;
  --container-name-text-size: 1.3rem;
  --container-name-text-weight: bold;
  --container-name-update-text-c: var(--cscheme-cont-update);
  --container-name-update-texthov-c: var(--cscheme-cont-updatehov);
  --container-startstop-text-size: 0; /* default 1.1rem */
  --container-startstop-text-mrgleft: 0; /* default 7px */
  --container-nofold-namebox-padding-left: calc(6px + var(--folderbox-padding-leftright) + var(--folderbox-brdr-width-left));

  /* STARTED/STOPPED ICONS - See https://fontawesome.com/icons */
  --folder-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --folder-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --folder-autostart-full-icon: "\f144"; /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon: "\f144"; /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon: "\f144"; /* Indicates NO autostart containers within the folder are started */
  --folder-spin-started-icon: "\f110"; /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */
  --folder-spin-stopped-icon: "\f110"; /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */

  --container-started-icon: "\f04b"; /* Normal started icon - default is play triangle */
  --container-stopped-icon: "\f04d"; /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon: "\f144"; /* Indicates autostart container is started */
  --container-autostart-stopped-icon: "\f28d"; /* Indicates autostart container is stopped */
  --container-spin-started-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon: "\f110"; /* Spin icon temporarily shown when a container is changing from stopped to started */

  /* STARTED/STOPPED ICON COLORS */
  --folder-started-icon-c: var(--cscheme-interface-good); /* Normal started icon - default is green */
  --folder-stopped-icon-c: var(--cscheme-interface-alert); /* Normal stopped icon - default is red */
  --folder-autostart-full-icon-c: var(--cscheme-interface-good); /* Indicate ALL autostart containers within the folder are started */
  --folder-autostart-partial-icon-c: var(--cscheme-interface-warn); /* Indicates SOME autostart containers within the folder are started */
  --folder-autostart-off-icon-c: var(--cscheme-interface-alert); /* Indicates NO autostart containers within the folder are started */
  --folder-spin-started-icon-c: var(--cscheme-interface-warn); /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */
  --folder-spin-stopped-icon-c: var(--cscheme-interface-attention); /* Spin icon temporarily shown when a folder is changing all containers from started to stopped */

  --container-spin-started-icon-c: var(--cscheme-interface-warn); /* Spin icon temporarily shown when a container is changing from started to stopped */
  --container-spin-stopped-icon-c: var(--cscheme-interface-attention); /* Spin icon temporarily shown when a container is changing from stopped to started */
  --container-started-icon-c: var(--cscheme-interface-good); /* Normal started icon - default is play triangle */
  --container-stopped-icon-c: var(--cscheme-interface-alert); /* Normal stopped icon - default is rounded square */
  --container-autostart-started-icon-c: var(--cscheme-interface-good); /* Indicates autostart container is started */
  --container-autostart-stopped-icon-c: var(--cscheme-interface-alert); /* Indicates autostart container is stopped */

  /* STARTED/STOPPED ICON SIZES */
  --folder-status-size: 16px; /* Compacted folder started/stopped icon */
  --container-status-size: 15px; /* Normal container started/stopped icon */
  --container-autostart-status-size: 16px; /* Autostart container started/stopped icon */

  /* CONTAINER TOOL ICONS - WEBUI, TERMINAL, LOGS */
  --container-tools-size: 14px;
  --container-webui-icon: "\f0ac";
  --container-webui-icon-c: var(--cscheme-tool-link);
  --container-webui-iconhover-c: var(--cscheme-tool-linkhov);
  --container-console-icon: "\f120";
  --container-console-icon-c: var(--cscheme-tool-link);
  --container-console-iconhover-c: var(--cscheme-tool-linkhov);
  --container-logs-icon: "\f0c9";
  --container-logs-icon-c: var(--cscheme-tool-link);
  --container-logs-iconhover-c: var(--cscheme-tool-linkhov);
}
/*************************************************/
/* END OF VARIABLES */
/*************************************************/

/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/* 1 DOCKER TABLE STYLES */
/*************************************************/
/*************************************************/

/*************************************************/
/* BASICS */
/*************************************************/
/* Apply border-box to all elements inside the docker table */
#docker_containers,
#docker_containers * {
  box-sizing: border-box;
}

/* Style all links that are not container tools */
#docker_containers :not(.folder-element-custom-btn) > a,
#docker_containers :not(.folder-element-custom-btn) > a:link,
#docker_containers :not(.folder-element-custom-btn) > a:visited {
  color: var(--cscheme-link);
  text-decoration: none;
}
#docker_containers :not(.folder-element-custom-btn) > a:hover {
  color: var(--cscheme-linkhov);
  text-decoration: none;
}

/* Style all container names with updates available */
#docker_containers :not(.folder-element-custom-btn) > a.orange-text,
#docker_containers :not(.folder-element-custom-btn) > a.orange-text:link,
#docker_containers :not(.folder-element-custom-btn) > a.orange-text:visited {
  color: var(--container-name-update-text-c);
  text-decoration: none;
  font-weight: bold;
}
#docker_containers :not(.folder-element-custom-btn) > a.orange-text:hover {
  color: var(--container-name-update-texthov-c);
  text-decoration: none;
  font-weight: bold;
}

/* Warning and Passed Text */
#docker_containers .orange-text,
#docker_containers .warning {
  color: var(--warn-orange-text-c);
}
#docker_containers .green,
#docker_containers .green-text,
#docker_containers .passed {
  color: var(--pass-green-text-c);
}
#docker_containers .blue-text {
  color: var(--accent-blue-text-c);
}

/* Autostart switches */
#docker_containers .switch-button-background.checked,
.preview-status .switch-button-background.checked {
  background-color: var(--cscheme-interface-good);
}
#docker_containers .switch-button-label.on,
.preview-status .switch-button-label.on {
  color: var(--cscheme-interface-good);
}

/*************************************************/
/* FOLDER NAME AREA */
/*************************************************/
.folder .folder-name {
  width: var(--folderbox-width);
}
/* Wrapper around folder icon, name, and toggle */
.folder .folder-name-sub {
  border-style: solid !important;
  border-color: var(--folderbox-brdr-c) !important;
  border-width: var(--folderbox-brdr-width-topbottom) var(--folderbox-brdr-width-right) var(--folderbox-brdr-width-topbottom) var(--folderbox-brdr-width-left) !important;
  border-radius: 4px;
  padding: var(--folderbox-padding-topbottom) var(--folderbox-padding-leftright);
  height: var(--folderbox-height);
  display: flex;
  align-items: center;
}
.folder .folder-outer {
  display: block;
  height: var(--folder-logo-size);
  margin-bottom: 0;
  width: calc(var(--folderbox-width) - 25px);
}
/* Folder image */
.folder-outer img.img {
  width: var(--folder-logo-size);
  height: var(--folder-logo-size);
  margin-right: var(--folder-logo-mrgright);
}
/* Folder name text */
.folder-outer .folder-appname {
  font-size: var(--folder-name-text-size);
  font-weight: var(--folder-name-text-weight);
}
/* Folder toggle open button */
button.folder-dropwdown {
  float: none;
}
/* Version column */
.folder .updatecolumn {
  text-align: center;
}
/* Started/Stopped Text for Folders */
.outer.folder-outer .state {
  font-size: var(--folder-startstop-text-size);
  margin-left: var(--folder-startstop-text-mrgleft);
}

/*************************************************/
/* VERSION COLUMN */
/*************************************************/
.folder .folder-update {
  width: 100px;
}

/*************************************************/
/* CONTAINER PREVIEW ROW */
/*************************************************/
/* Wrapper for all containers in the preview */
.folder .folder-preview {
  border-style: solid !important;
  border-color: var(--folderpreview-brdr-c) !important;
  border-width: var(--folderpreview-brdr-width-topbottom) var(--folderpreview-brdr-width-right) var(--folderpreview-brdr-width-topbottom) var(--folderpreview-brdr-width-left) !important;
  height: var(--folderpreview-height);
  align-items: start;
}

/* Vertical lines between containers - if enabled */
.folder-preview .folder-preview-divider {
  float: none;
  height: var(--container-logo-size);
  margin: var(--container-logo-mrgtopbottom) 5px var(--container-logo-mrgtopbottom) 10px;
  border: 1px solid var(--folderpreview-brdr-c) !important;
}

/*************************************************/
/* CONTAINER IN PREVIEW ROW */
/*************************************************/
/* Outer wrapper around individual containers in preview */
.folder-preview .folder-preview-wrapper {
  float: none;
  margin-left: var(--container-logo-mrgleft);
  margin-top: var(--container-logo-mrgtopbottom);
  height: auto;
}
/* Container image */
.folder-preview-wrapper .outer img.img {
  width: var(--container-logo-size);
  height: var(--container-logo-size);
  margin-right: 5px;
}
/* Container name */
.folder-preview-wrapper .appname {
  font-size: var(--container-name-text-size);
  font-weight: var(--container-name-text-weight);
}
/* Started/Stopped Text for Containers */
.outer:not(.folder-outer) .state {
  font-size: var(--container-startstop-text-size);
  margin-left: var(--container-startstop-text-mrgleft);
}
/* Container Tools */
.outer:not(.folder-outer) .folder-element-custom-btn i::before {
  font-size: var(--container-tools-size);
}
/* Console Icon */
.outer:not(.folder-outer) .folder-element-console a,
.outer:not(.folder-outer) .folder-element-console a:link,
.outer:not(.folder-outer) .folder-element-console a:visited {
  color: var(--container-console-icon-c);
}
.outer:not(.folder-outer) .folder-element-console a:hover {
  color: var(--container-console-iconhover-c);
}
.outer:not(.folder-outer) .folder-element-console i::before {
  content: var(--container-console-icon);
}
/* WebUI Icon */
.outer:not(.folder-outer) .folder-element-webui a,
.outer:not(.folder-outer) .folder-element-webui a:link,
.outer:not(.folder-outer) .folder-element-webui a:visited {
  color: var(--container-webui-icon-c);
}
.outer:not(.folder-outer) .folder-element-webui a:hover {
  color: var(--container-webui-iconhover-c);
}
.outer:not(.folder-outer) .folder-element-webui i::before {
  content: var(--container-webui-icon);
}
/* Logs Icon */
.outer:not(.folder-outer) .folder-element-logs a,
.outer:not(.folder-outer) .folder-element-logs a:link,
.outer:not(.folder-outer) .folder-element-logs a:visited {
  color: var(--container-logs-icon-c);
}
.outer:not(.folder-outer) .folder-element-logs a:hover {
  color: var(--container-logs-iconhover-c);
}
.outer:not(.folder-outer) .folder-element-logs i::before {
  content: var(--container-logs-icon);
}

/* Autostart column */
#docker_containers th.nine {
  width: 110px;
  padding: 0;
}

/*************************************************/
/* EXPANDED FOLDER AND NO FOLDER CONTAINER ROW */
/*************************************************/
/* Cell for container name */
#docker_containers .folder-element .ct-name,
#docker_containers .ct-name:not(.folder-name) {
  width: auto !important;
  padding: 8px 20px 8px var(--container-nofold-namebox-padding-left) !important;
}

/* Container name text */
#docker_containers .inner:not(.folder-inner) .appname {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Wait form on autostart containers */
#docker_containers tr.sortable:not(.folder) td:nth-child(7) span:last-of-type {
  float: none !important;
  display: block;
  margin-left: 10px;
}

/*************************************************/
/* CONTAINER LOGO ICON HOVER EFFECTS */
/*************************************************/
/* Desaturate docker container icons, saturate on hover */
.folder-preview-wrapper img {
  filter: saturate(0);
}
.folder-preview-wrapper:hover img {
  filter: saturate(1);
}

/*************************************************/
/* ADVANCED VIEW STYLES */
/*************************************************/
/* Width of the CPU/MEM Load column */
#docker_containers th.load,
#docker_containers td.advanced {
  width: 80px;
}

/* Hide header text for load and uptime columns */
#docker_containers th.load,
#docker_containers th.five {
  font-size: 0;
}

/* Text for the folder's CPU usage */
#docker_containers .folder-cpu {
  font-size: 18px;
  font-weight: bold;
  color: var(--cscheme-accent2);
}
/* Text for the container CPU usage */
#docker_containers span[class*="cpu-"]:not(.folder-cpu) {
  font-size: 14px;
  font-weight: normal;
  color: var(--cscheme-accent2);
}

/* Text for the folder's Memory usage */
#docker_containers .folder-mem {
  font-size: 11px;
  font-weight: bold;
  color: var(--cscheme-accent2);
}
/* Text for the container Memory usage */
#docker_containers span[class*="mem-"]:not(.folder-mem) {
  font-size: 11px;
  font-weight: bold;
  color: var(--cscheme-accent2);
}

/* CPU Meter */
#docker_containers .usage-disk {
  height: 8px;
  margin: 0;
  background: var(--cscheme-foreline4);
  background-color: var(--cscheme-foreline4);
  margin-bottom: 4px;
}
#docker_containers .usage-disk > span:first-child {
  height: 8px;
  background-color: var(--cscheme-accent3);
}
#docker_containers .usage-disk span:nth-child(2) {
  display: inline-block;
  height: 8px;
}
#docker_containers .usage-disk + br {
  display: none;
}

/* Container ID and repo */
#docker_containers .folder-element .ct-name .advanced,
#docker_containers .outer:not(.folder-outer) + .advanced {
  padding: 5px 10px;
  border: 1px solid var(--cscheme-foreline4);
  border-radius: 5px;
  background-color: var(--cscheme-backfill4);
}

/* Uptime column */
#docker_containers th.five {
  width: 0;
  padding: 0;
}

/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/* 2 STARTED/STOPPED ICONS */
/*************************************************/
/*************************************************/

/*************************************************/
/* STARTED/STOPPED ICON SIZES */
/*************************************************/
/* Folder Status */
.outer.folder-outer i.folder-load-status::before {
  font-size: var(--folder-status-size);
}
/* Container Status */
.outer:not(.folder-outer) i[id*="folder-load"]::before {
  font-size: var(--container-status-size);
}
/* Container Autostart Status */
.outer:not(.folder-outer).autostart i[id*="folder-load"]::before {
  font-size: var(--container-autostart-status-size);
}

/*************************************************/
/* DEFAULT STARTED/STOPPED ICONS */
/*************************************************/
/* Folder Started Icon */
.folder:not(.autostart-full, .autostart-partial, .autostart-off) .outer.folder-outer i.started:not(.fa-spin)::before {
  content: var(--folder-started-icon);
  color: var(--folder-started-icon-c);
}
/* Folder Stopped Icon */
.folder:not(.autostart-full, .autostart-partial, .autostart-off) .outer.folder-outer i.stopped:not(.fa-spin)::before {
  content: var(--folder-stopped-icon);
  color: var(--folder-stopped-icon-c);
}
/* Folder Spin Icon - Started */
.folder .outer.folder-outer i.started.fa-spin::before {
  content: var(--folder-spin-started-icon);
  color: var(--folder-spin-started-icon-c);
}
/* Folder Spin Icon - Stopped */
.folder .outer.folder-outer i.stopped.fa-spin::before {
  content: var(--folder-spin-stopped-icon);
  color: var(--folder-spin-stopped-icon-c);
}

/* Container Started Icon */
.outer:not(.folder-outer, .autostart) i.started:not(.fa-spin)::before {
  content: var(--container-started-icon);
  color: var(--container-started-icon-c);
}
/* Container Stopped Icon */
.outer:not(.folder-outer, .autostart) i.stopped:not(.fa-spin)::before {
  content: var(--container-stopped-icon);
  color: var(--container-stopped-icon-c);
}
/* Container Spin Icon - Started */
.outer:not(.folder-outer) i.started.fa-spin::before {
  content: var(--container-spin-started-icon);
  color: var(--container-spin-started-icon-c);
}
/* Container Spin Icon - Stopped */
.outer:not(.folder-outer) i.stopped.fa-spin::before {
  content: var(--container-spin-stopped-icon);
  color: var(--container-spin-stopped-icon-c);
}

/*************************************************/
/* AUTOSTART ICONS */
/*************************************************/
/* Container Icons */
.outer:not(.folder-outer).autostart i.started:not(.fa-spin)::before {
  content: var(--container-autostart-started-icon); /* Replace the green triangle with a different icon */
  color: var(--container-autostart-started-icon-c);
}
.outer:not(.folder-outer).autostart i.stopped:not(.fa-spin)::before {
  content: var(--container-autostart-stopped-icon); /* Replace the red square with a different icon */
  color: var(--container-autostart-stopped-icon-c);
}

/* Folder Icons */
/* Replace the folder's default ontainer status icon with an icon
denoting presence of autostart containers */
.folder.autostart-full .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-full-icon);
  color: var(--folder-autostart-full-icon-c); /* Green color when all autostart containers are started */
}
.folder.autostart-partial .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-partial-icon);
  color: var(--folder-autostart-partial-icon-c); /* Orange when some autostart containers are started */
}
.folder.autostart-off .folder-outer i.folder-load-status::before {
  content: var(--folder-autostart-off-icon);
  color: var(--folder-autostart-off-icon-c); /* Red when no autostart containers are started */
}

/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/*************************************************/ /*************************************************/
/* 3 ADVANCED CONTEXT TOOLTIP DARK MODE */
/*************************************************/
/* VARIABLES */
:root {
  /* Outer box for the context window */
  --advc-tooltip-brdr-c: var(--cscheme-backfill3);
  --advc-tooltip-brdr-accent-c: var(--cscheme-accent1);
  --advc-tooltip-text-c: var(--cscheme-foreline1);
  --advc-tooltip-bg-c: var(--cscheme-backfill1);

  /* Top row with container name and CPU usage */
  --advc-headrow-bg-c: var(--cscheme-backfill2);
  --advc-headrow-brdr-c: var(--cscheme-backfill3);

  /* Top container name and stats areas */
  --advc-contname-area-brdr-rt-c: var(--cscheme-backfill4);
  --advc-contstat-area-bg-c: var(--cscheme-backfill3);
  --advc-contstat-hdr-bg-c: var(--cscheme-backfill1);
  --advc-contstat-cpumeter-bg-c: var(--cscheme-foreline2);
  --advc-contstat-cpumeter-text-c: var(--cscheme-accent1);
  --advc-contstat-cpumeter-meter-c: var(--cscheme-accent1);

  /* Action buttons down the left side */
  --advc-contbtns-brdr-rt-c: var(--cscheme-backfill4);
  --advc-contbtns-bg-img: linear-gradient(to bottom, var(--cscheme-backfill2), var(--cscheme-backfill3));
  --advc-contbtns-text-c: var(--cscheme-foreline2);
  --advc-contbtns-texthover-c: var(--cscheme-foreline1);

  /* Container ID and Repo Box */
  --advc-continfo-bg-c: var(--cscheme-backfill2);
  --advc-continfo-brdr-c: var(--cscheme-backfill3);
  --advc-continfo-text-c: var(--cscheme-foreline2);

  /* Tabs along the top of the CPU/Mem Graph, Port Mappings, and Vol Mappings */
  --advc-grapharea-tabs-deftext-c: var(--cscheme-foreline2);
  --advc-grapharea-tabs-deftexthover-c: var(--cscheme-foreline1);
  --advc-grapharea-tabs-activetext-c: var(--cscheme-foreline1);
  --advc-grapharea-tabs-activetexthover-c: var(--cscheme-foreline1);
  --advc-grapharea-tabs-default-bg-c: var(--cscheme-backfill2);
  --advc-grapharea-tabs-active-bg-c: var(--cscheme-accent1);
  --advc-grapharea-tabs-defhover-bg-c: var(--cscheme-backfill1);
  --advc-grapharea-tabs-acthover-bg-c: var(--cscheme-accent1);
  --advc-grapharea-tabs-default-brdr-c: var(--cscheme-backfill2);
  --advc-grapharea-tabs-active-brdr-c: var(--cscheme-backfill2);
  --advc-grapharea-tabs-defhover-brdr-c: var(--cscheme-accent1);
  --advc-grapharea-tabs-acthover-brdr-c: var(--cscheme-backfill2);

  /* Top border for the Streaming CPU/Mem Graph Area */
  --advc-grapharea-brdr-top-c: var(--cscheme-accent1);
  --advc-grapharea-brdr-c: var(--cscheme-backfill3);

  /* Streaming CPU/Mem Graph Lines */
  --folder-view-graph-cpu: var(--cscheme-accent1);
  --folder-view-graph-mem: var(--cscheme-accent2);
}
/*************************************************/
/* END OF VARIABLES */
/*************************************************/

/* Apply border-box to all elements inside the context menu */
.preview-outbox,
.preview-outbox * {
  box-sizing: border-box;
}

/* Warning and Passed Text */
.preview-outbox .orange-text,
.preview-outbox .warning {
  color: var(--warn-orange-text-c);
}
.preview-outbox .green,
.preview-outbox .green-text,
.preview-outbox .passed {
  color: var(--pass-green-text-c);
}
.preview-outbox .blue-text {
  color: var(--accent-blue-text-c);
}

/* Outer box of the context window */
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box,
.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  border: 2px solid var(--advc-tooltip-brdr-c) !important;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 3px var(--cscheme-backfill4);
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  border-top: 3px solid var(--advc-tooltip-brdr-accent-c) !important;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  border-bottom: 3px solid var(--advc-tooltip-brdr-accent-c) !important;
}

/* Inner box and main body of the context window */
.preview-outbox {
  padding: 8px;
  color: var(--advc-tooltip-text-c);
  background-color: var(--advc-tooltip-bg-c);
}

/* Top row with container name and CPU usage */
.preview-outbox .first-row {
  background-color: var(--advc-headrow-bg-c);
  border-color: var(--advc-headrow-brdr-c);
  margin-bottom: 4px;
}

/* Container name box */
.preview-outbox .preview-name {
  padding-left: 10px;
  border-right: 1px solid var(--advc-contname-area-brdr-rt-c);
}

/* Container name */
.preview-outbox .appname {
  font-size: 2rem;
  font-weight: bold;
}

/* CPU/Memory Usage box */
.preview-outbox .preview-status {
  background-color: var(--advc-contstat-area-bg-c);
  padding: 4px 8px;
  margin: 0;
}

/* CPU/Mem header box */
.preview-outbox .status-header-version,
.preview-outbox .status-header-stats,
.preview-outbox .status-header-autostart {
  background-color: var(--advc-contstat-area-hdr-bg-c);
}

/* CPU usage meter */
.preview-outbox .status-stats {
  padding-right: 20px;
}
/* Text for the container CPU usage */
.preview-outbox span[class*="cpu-"] {
  font-size: 18px;
  font-weight: bold;
  color: var(--cscheme-accent2);
}
.preview-outbox .usage-disk.mm {
  height: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  background: var(--advc-contstat-cpumeter-bg-c);
  color: var(--advc-contstat-cpumeter-text-c);
}
.preview-outbox .usage-disk.mm > span:first-child {
  background-color: var(--advc-contstat-cpumeter-meter-c);
  height: 10px;
}
.preview-outbox .usage-disk span:nth-child(2) {
  display: inline-block;
  height: 8px;
}
.preview-outbox .usage-disk + br {
  display: none;
}

/* Text for the container Memory usage */
.preview-outbox span[class*="mem-"] {
  font-size: 14px;
  font-weight: bold;
  color: var(--cscheme-accent2);
}

.preview-outbox .action-info {
  padding-right: 5px;
}

/* Container control buttons column left */
.preview-outbox .action-left {
  border-right: 1px solid var(--advc-contbtns-brdr-rt-c);
  padding-right: 5px;
}
/* Container control buttons column right */
.preview-outbox .action-right {
  padding-left: 5px;
}

/* Container control and project page buttons */
.preview-outbox .action li a,
.preview-outbox .action li a:link,
.preview-outbox .action li a:visited {
  color: var(--advc-contbtns-text-c);
}
.preview-outbox .action li a:hover {
  background-image: var(--advc-contbtns-bg-img);
  color: var(--advc-contbtns-texthover-c);
}

/* Container ID and repo info box */
.preview-outbox .info-ct {
  color: var(--advc-continfo-text-c);
  background-color: var(--advc-continfo-bg-c);
  border-color: var(--advc-continfo-brdr-c);
}

/* Tabs/buttons at top of graph area */
.preview-outbox ul.info-tabs {
  height: 30px;
}
.preview-outbox .ui-state-default {
  background: var(--advc-grapharea-tabs-default-bg-c);
  border-color: var(--advc-grapharea-tabs-default-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-hover {
  background: var(--advc-grapharea-tabs-defhover-bg-c);
  border-color: var(--advc-grapharea-tabs-defhover-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-active {
  background: var(--advc-grapharea-tabs-active-bg-c);
  border-color: var(--advc-grapharea-tabs-active-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default.ui-state-active.ui-state-hover {
  background: var(--advc-grapharea-tabs-acthover-bg-c);
  border-color: var(--advc-grapharea-tabs-acthover-brdr-c);
  border-width: 1px 1px 0 1px;
}
.preview-outbox .ui-state-default a,
.preview-outbox .ui-state-default a:link,
.preview-outbox .ui-state-default a:visited {
  color: var(--advc-grapharea-tabs-deftext-c);
}
.preview-outbox .ui-state-default.ui-state-hover a,
.preview-outbox .ui-state-default.ui-state-hover a:link,
.preview-outbox .ui-state-default.ui-state-hover a:visited {
  color: var(--advc-grapharea-tabs-deftexthover-c);
}
.preview-outbox .ui-state-default.ui-state-active a,
.preview-outbox .ui-state-default.ui-state-active a:link,
.preview-outbox .ui-state-default.ui-state-active a:visited {
  color: var(--advc-grapharea-tabs-activetext-c);
  font-weight: bold;
}
.preview-outbox .ui-state-default.ui-state-active.ui-state-hover a,
.preview-outbox .second-row .ui-state-default.ui-state-active.ui-state-hover a:link,
.preview-outbox .second-row .ui-state-default.ui-state-active.ui-state-hover a:visited {
  color: var(--advc-grapharea-tabs-activetexthover-c);
  font-weight: bold;
  cursor: default;
}
/* End of: Tabs/buttons at top of graph area */

/* Graph area */
.preview-outbox div[id*="comb-grapth-"] {
  height: 393px !important;
}
.preview-outbox div[id*="comb-grapth-"] canvas {
  padding: 2px;
  border: 1px solid var(--advc-grapharea-brdr-c);
  border-top: 2px solid var(--advc-grapharea-brdr-top-c);
}

/* Port Mappings and Volume Mappings areas */
.preview-outbox .info-ports,
.preview-outbox .info-volumes {
  height: 393px !important;
  overflow: auto;
  padding: 8px;
  color: var(--text-hover) !important;
  border: 1px solid var(--advc-grapharea-brdr-c) !important;
  border-top: 2px solid var(--advc-grapharea-brdr-top-c) !important;
  font-size: 1.5rem;
}
/*************************************************/
/* END OF - ADVANCED CONTEXT TOOLTIP DARK MODE */
/*************************************************/
