/*************************************************/
/* VARIABLES - Change these settings to your preference */
/*************************************************/
:root {
  /* Passed/Warning/Green/Orange Text */
  --warn-orange-text-c: var(--cscheme-accent1);
  --pass-green-text-c: var(--cscheme-accent3);

  /* Folder Name/Logo Area */
  --folderbox-width: 250px; /* May need to be increased if --folder-name-text-size is too big */
  --folderbox-height: calc(var(--folder-logo-size) + (var(--folderbox-padding-topbottom) * 2) + (var(--folderbox-brdr-width-topbottom) * 2));
  --folderbox-padding-topbottom: 7px;
  --folderbox-padding-leftright: 10px;
  --folderbox-brdr-c: var(--cscheme-foreline1);
  --folderbox-brdr-width-topbottom: 1px;
  --folderbox-brdr-width-left: 8px;
  --folderbox-brdr-width-right: 3px;

  --folder-logo-size: 40px;
  --folder-logo-mrgright: 8px;
  --folder-name-text-size: 1.5rem;
  --folder-name-text-weight: bold;
  --folder-startstop-text-size: 1.2rem; /* 0 to hide */
  --folder-startstop-text-mrgleft: 7px; /* 0 to hide */

  /* Folder/Container Preview Row */
  --folderpreview-height: calc(var(--container-logo-size) + (var(--container-logo-mrgtopbottom) * 2) + (var(--folderpreview-brdr-width-topbottom) * 2));
  --folderpreview-brdr-c: var(--cscheme-foreline1);
  --folderpreview-brdr-width-topbottom: 1px;
  --folderpreview-brdr-width-left: 8px;
  --folderpreview-brdr-width-right: 1px;

  /* Container */
  --container-logo-size: 38px;
  --container-logo-mrgtopbottom: 7px;
  --container-name-text-size: 1.3rem;
  --container-name-text-weight: bold;
  --container-name-update-text-c: var(--cscheme-cont-update);
  --container-name-update-texthov-c: var(--cscheme-cont-updatehov);
  --container-startstop-text-size: 0; /* default 1.1rem */
  --container-startstop-text-mrgleft: 0; /* default 7px */
}
/*************************************************/
/* END OF VARIABLES */
/*************************************************/
