/*************************************************/
/* VARIABLES - Change these settings to your preference */
/*************************************************/
:root {
  /* Compressed folder name text size and weight */
  --dash-folder-name-text-size: 1.4rem;
  --dash-folder-name-text-weight: bold;
  /* Folder with update text */
  --dash-folder-name-update-text-c: var(--cscheme-folder-update);

  /* Default container name text size and weight */
  --dash-container-name-text-size: 1.3rem;
  --dash-container-name-text-weight: normal;
  /* Container with update text */
  --dash-container-name-update-text-c: var(--cscheme-cont-update);

  /* EXPANDED FOLDER HEADER AND "DRAWER" */
  --dash-exfold-header-brdr-c: var(--cscheme-foreline4); /* Border color for the header */
  --dash-exfold-header-bg-c: var(--cscheme-foreline4); /* Background color for the header */
  --dash-exfold-drawer-brdr-c: var(--cscheme-foreline4); /* Border color for the container "drawer" */
  --dash-exfold-drawer-bg-c: var(--cscheme-backfill3); /* Background color for the container "drawer" */
  --dash-exfold-foldername-text-c: var(--cscheme-foreline1); /* Color for the folder name */
  --dash-exfold-foldername-updatetext-c: var(--cscheme-exfolder-update); /* Color for the folder name with an update */
  --dash-exfold-foldername-text-size: 2rem; /* Size for the folder name */
  --dash-exfold-foldername-text-weight: bold; /* Weight for the folder name */
  --dash-exfold-contname-text-c: inherit; /* Color for the container name when inside a folder */
  --dash-exfold-contname-text-size: 1.4rem; /* Size for the container name when inside a folder */
  --dash-exfold-contname-text-weight: bold; /* Weight for the container name when inside a folder */
}
