/*************************************************/
/* COLOR SCHEME - BASED ON UNRAID STOCK WHITE THEME
Change these settings to your preference */
/*************************************************/
/* Look up a hex color convertor online
like https://htmlcolorcodes.com/color-picker/ */
/*************************************************/
:root {
  --cscheme-accent1: #f0582c;
  --cscheme-accent2: #3e6dba;
  --cscheme-accent3: #4f8a10;

  --cscheme-foreline1: #1c1b1b;
  --cscheme-foreline2: #4e4e4e;
  --cscheme-foreline3: #a8a8a8;
  --cscheme-foreline4: #dcdcdc;
  --cscheme-backfill1: #e8e8e8;
  --cscheme-backfill2: #f2f2f2;
  --cscheme-backfill3: #f5f5f5;
  --cscheme-backfill4: #ffffff;

  --cscheme-interface-alert: #f0000c;
  --cscheme-interface-warn: #f0582c;
  --cscheme-interface-attention: #d6ff20;
  --cscheme-interface-passed: #4caf50;
  --cscheme-interface-accent: #2cabe3;

  --cscheme-link: #486dba; /* Text links within the docker table */
  --cscheme-linkhov: #2cabe3; /* Text links - hover */
  --cscheme-tool-link: #616161; /* Container tools - WebUI, Console, Logs */
  --cscheme-tool-linkhov: #2cabe3; /* Container tools - hover */
  --cscheme-cont-update: #f0582c; /* Container with update */
  --cscheme-cont-updatehov: #ff792e; /* Container with update - hover (only in docker table) */
  --cscheme-folder-update: #3e6dba; /* Folder on dashboard with update within */
  --cscheme-exfolder-update: #f0582c; /* Expanded folder on dashboard with update within */
}
